<!DOCTYPE html>
<html>
    <head>
        <title>Code with Dungy</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Code with Dungy Blog</a></h1>
        </header>

        <article>
            <time>published: 23.09.2021, 02:11</time>
            <h2><a href="">My first post</a></h2>
            <p>My First Django Blog Post</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Really liking this python django framework</p>
        </article>
    </body>
</html>